<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>pdfDirectory</name>
            <label>Absolutes Verzeichnis</label>
            <value>/htdocs/www.ostermann.de/typenplan/</value>
            <description>In welchem Verzeichnis sind die .pdf Typenpläne hinterlegt?</description>
        </element>

        <element type="text">
            <name>pdfFrontendDirectory</name>
            <label>Relatives Verzeichnis</label>
            <value>typenplan/</value>
            <description>In welchem Verzeichnis sind die .pdf Typenpläne für den Shop hinterlegt?</description>
        </element>

        <element type="button">
            <name>basketButton</name>
            <label><![CDATA[<b>Warenkorb</b>]]></label>
        </element>

        <element type="boolean">
            <name>basketStatus</name>
            <label>Warenkorb Button anzeigen</label>
            <value>false</value>
            <description>Soll unter jedem Artikel ein "In den Warenkorb" Button angezeigt werden?</description>
        </element>

        <element type="boolean">
            <name>basketOffcanvasStatus</name>
            <label>Off-Canvas aktivieren</label>
            <value>true</value>
            <description>Soll sich der Off-Canvas Warenkorb öffnen? Alternativ wird eine Ladeanimation angezeigt und der Button anschließend deaktiviert.</description>
        </element>

        <element type="button">
            <name>attributeButton</name>
            <label><![CDATA[<b>Attribute</b>]]></label>
        </element>

        <element type="text">
            <name>attributeFamily</name>
            <label>Typenplan ID</label>
            <value>attr7</value>
            <description>In welches Attribut soll die ID des Typenplans gespeichert werden?</description>
        </element>

    </elements>
</config>